@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  font-family: "DM Sans", serif;
  background-color: #292929;
}

html,
body {
  overflow-x: hidden;
}

h1 {
  color: #ffffff;
}

p {
  color: #fff;
}

.gradient {
  background: linear-gradient(86.55deg, #8E2DE2 24.13%, #4A00E0 78.74%);
}

.text-gradient {
  color: #ffc107;
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
  color: white;
}

.hero {
  background-color: #311BBC;
  /* background-image: url('/images/pattern.svg'); */
  background-repeat: no-repeat;
  background-position: right;
}

#bg {
  background: url('/images/IMG0953.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}